
body{
	padding: 0;
	margin: 0;
	    cursor: url(../img/cursor_hand.png) 18 10, default;
}

/*responsive*/
@media screen and  (max-width : 1020px) {
	body{
		padding: 0;
	}
	.backgroundImage{
		width:99%;
		height: 99%;
	}	
}

.backgroundBlock {
	background-size: contain;
	margin:auto;
	position: relative;
	text-align: center;
}
/*home page*/
.divlink{
	position: absolute;
}
/*#title{
	cursor: pointer;
}*/

/*general clickable object */
#bouton_jouer{
cursor: url(../img/cursor_hand.png) 18 10, default;
	margin-top: 10%;
}

/*story page*/

/*intro page*/
#bambi{
position: absolute;;
}

/*menu page*/
.menu_buttons{
	position: absolute;
}

.bouton_niveau{
	cursor:pointer;
	padding: 0 5%;
}

.aide {
    position: absolute;
}

#bouton_aide{
	cursor:pointer;
}


