
body{
	padding: 0;
	margin: 0;
	cursor: url(../img/cursor_hand.png) 18 10, default;
}

/*#title{
	cursor: pointer;
}*/

/*general clickable object */
#bouton_jouer{
cursor: url(../img/cursor_hand.png) 18 10, default;
	margin-top: 12%;
}

/*story page*/

/*intro page*/
#bambi{
    margin-top: 20%;
    margin-left: 20%;
}

/*menu page*/
#menu_buttons{
	padding-top: 20%;
}

.bouton_niveau{
	cursor:pointer;
	padding: 0 5%;
}

#aide {
   padding-top: 9%;
}

#bouton_aide{
	cursor:pointer;
}

/*niveau1 page*/

.princesse{
	background: url("../img/princesse_nue_final (1).png");
	background-size: contain;
	width: 368px;
	height: 582px;
	float: right;
	margin-top: 10%;
	margin-right: 5%;
	/*border: solid red 1px;*/
	position: relative;
}
#up_pr {
	position: absolute;
    width: 368px;
	height: 231px;
	/*border:solid blue 2px;*/
}

#down_pr{
	position: absolute;
    width: 368px;
	height: 384px;
/*	border:solid green 2px;*/
	bottom: 0;
}

#content1,#content2,#content3,#contentAccueil,#contentHistoire,#contentIntro,#contentMenu{
	position: relative;
	background: url("../img/fond.png");
	width: 1024px;
	height: 768px;
	margin: 0 auto;
}
#contentFete{
	position: relative;
	background: url("../img/fete2.jpg") no-repeat !important;
	width: 1020px;
	height: 768px;
	margin: 0 auto;
}
#contentHistoire{
 background: url("../img/bambi-histoire.gif");
}

#contentIntro{
	background: url("../img/bambiAnime.gif");
	text-align: center;
}

#contentMenu{
	background: url("../img/fond.png");
	text-align: center;
}

#contentAccueil{
	background: url("../img/bambi-jeu.gif") no-repeat !important;
	text-align: center;
}


.ballonsFete{
background: url("../img/ballonfete.png");
position:absolute;
	width: 257.6px;
	height: 407.4px;
	margin-top: 0%;
	margin-left: 0%;
}

#robe1, .robe1,#robe2, .robe2,#robe3, .robe3,#robe4, .robe4 {
	position:absolute;
	width: 257.6px;
	height: 407.4px;
	margin-top: 0%;
	margin-left: 0%;
	/*border: solid green 1px;*/
}

 .robe1 {
	margin-top: 20%;
	z-index: 2;
	/*border: solid green 1px;*/
}

.robe2 {
	z-index: 1;
	/*border: solid red 1px;*/
}

.robe3 {
	margin-left: 18%;
/*	border: solid yellow 1px;*/
}

.robe4{
    margin-top: 20%;
	margin-left: 18%;
	/*border: solid black 1px;
*/
}


#up_robe1, .up_robe1,#up_robe2, .up_robe2,#up_robe3, .up_robe3{
	position:absolute;
	width: 257.6px;
	height: 161.7px;
	margin-top: 0%;
	margin-left: 0%;
	/*border: solid black 1px;*/
	z-index: 3;
}

 #down_robe1,.down_robe1,#down_robe2, .down_robe2,#down_robe3, .down_robe3 {
 	position:absolute;
	width: 257.6px;
	height: 268.8px;
	margin-top: 0%;
	margin-left: 0%;
	/*border: solid yellow 1px;*/
	z-index: 3;
 }
.up_robe2{
	margin-top: 0%;
	margin-left: 12%;
}

.up_robe3{
	margin-top: 0%;
	margin-left: 21%;
}
.down_robe1 {
margin-top: 20%;
margin-left: 0%;
}
.down_robe2 {
margin-top: 20%;
margin-left: 12%;
}
.down_robe3 {
margin-top: 20%;
margin-left: 21%;
}
.itemPlaced {
	margin-top: 0% !important;
	margin-left: 0% !important;	
	width: 368px !important;
	height: 582px !important;
}

.upItemPlaced {
    margin-top: 0% !important;
	margin-left: 0% !important;	
	width: 368px !important;
	height: 231px !important;
}

.downItemPlaced {
    margin-top: 0% !important;
	margin-left: 0% !important;	
	width: 368px !important;
	height: 384px !important;
}
#pluie{
	position: absolute;
    background: url("../img/pluie1.gif") !important;
	width: 100%;
	height: 768px;
    z-index: 2;
}

#imgSoleil{
	position: absolute;
	display: none;
	width: 200px;
	height: 200px;
	right: 10px;
    z-index: 3;
}

#parapluie{
	position: absolute;
	width: 160.8px;
	height: 192px;
	left:10px;
	bottom:20px;
    z-index: 3;
}

.parapluie {
	position:absolute;
	width:192.96px;
	height:230.4px ;
	right:280px;
	top:20px;
	/*border:solid, red,3px;*/
}

.parapluie *{
	width:192.96px !important;
	height:230.4px !important;
}

#bouton_next{
	position: absolute;
	bottom: -10px;
	right: 10px;
}

#bouton_menu{
	position: absolute;
	bottom: -10px;
	left: 10px;
}