
body{
	padding: 0;
	margin: 0;
	cursor: url(../img/cursor_hand.png) 18 10, default;
}

/*#title{
	cursor: pointer;
}*/

/*general clickable object */
#bouton_jouer{
cursor: url(../img/cursor_hand.png) 18 10, default;
	margin-top: 12%;
}

/*story page*/

/*intro page*/
#bambi{
    margin-top: 20%;
    margin-left: 20%;
}

/*menu page*/
#menu_buttons{
	padding-top: 20%;
}

.bouton_niveau{
	cursor:pointer;
	padding: 0 5%;
}

#aide {
   padding-top: 9%;
}

#bouton_aide{
	cursor:pointer;
}

/*niveau1 page*/

.princesse{
	background: url("../img/princesse_nue.png");
	background-size: contain;
	width: 368px;
	height: 582px;
	float: right;
	margin-top: 10%;
	margin-right: 12%;
}

#content1,#content2,#content3,#contentAccueil,#contentHistoire,#contentIntro,#contentMenu{
	background: url("../img/fond.png");
	width: 1024px;
	height: 768px;
	margin: 0 auto;
}

#contentHistoire{
 background: url("../img/histoire.jpg");
}

#contentIntro{
	background: url("../img/fond.png");
	text-align: center;
}

#contentMenu{
	background: url("../img/fond.png");
	text-align: center;
}

#contentAccueil{
	background: url("../img/accueil.jpg") no-repeat !important;
	text-align: center;
}

#robe1 {
	position:absolute;
	width: 368px;
	height: 582px;
	margin-top: -5%;
	margin-left: 0%;
}

#robe2 {
	position: absolute;
	width: 368px;
	height: 582px;
	margin-top: 1%;
	margin-left: 10%;
	z-index: ;
}

#robe3 {
	position: absolute;
	width: 368px;
	height: 582px;
	margin-top: 7%;
	margin-left: 20%;
}

#robe4 {
	position: absolute;
	width: 368px;
	height: 582px;
	margin-top: 12%;
	margin-left: 28%;
}

#robePlaced {
	width: 368px;
	height: 582px;
}

.robeOne .robeTwo .robeThree .robeFour {
	width: 400px;
	height: 600px;
	float: left;
}